* {
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin-top: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color:  #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}